PORT=3000
NODE_ENV=development

DATABASE_URL="postgresql://user:password@localhost:5432/wgc_db?schema=public"
JWT_SECRET="your-super-secret-jwt-key"

FINIX_BASE_URL=https://finix.sandbox-payments-api.com
FINIX_USERNAME=your_finix_username
FINIX_PASSWORD=your_finix_password
FINIX_VERSION=2022-02-01

FRONTEND_URL=http://localhost:4200

WEBHOOK_SECRET=replace_me
